body {
  background: #ffece2;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

nav {
  z-index: 10;
}

nav img {
  z-index: 10;
  position: fixed;
}
nav img:nth-child(1) {
  top: 50px;
  left: 30px;
}

nav img:nth-child(2) {
  height: 50px;
  width: 50px;
  top: 10px;
  right: 10px;
}

nav img:nth-child(3) {
  height: 50px;
  width: 50px;
  bottom: 10px;
  left:10px;
}

#tri1 {
  z-index: 9;
  background: linear-gradient(to bottom, #091f2d, #091f2d, #091f2d, #091f2d, #091f2d, #091f2d, #091f2d, #091f2d, #091f2d, #091f2d, transparent);
  position: fixed;
  top: -300px;
  right: -400px;
  width: 800px;
	height: 250px;
  transition: 1s;
  transform: rotate(10deg);
}

menu {
  z-index: 10;
  transform: rotate(-10deg);
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 50px;
}

nav div a{
  color: #ffece2;
  font-size: 15px;
  text-decoration: none;
  opacity: .85;
  margin-left: 10px;
  margin-right: 10px;
}

nav div a:hover {
  opacity: 1;
}

main {
  position: absolute;
  height: 500px;
  width: 80%;
  left: 10%;
  right: 10%;
  top: 52%;
  margin-top: -250px;
}

#caption {
  position: absolute;
  text-align: center;
  width: calc(100% - 600px);
  top: 75px;
  left: 0px;
  color: #203457;
}

#back {
  width: 0px;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 25px solid #091f2d;
  margin: auto;
}

#next {
  width: 0px;
  height: 0px;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 25px solid #091f2d;
  margin: auto;
}

h1 {
  font-size: 17px;
  font-weight: 400;
  width: 175px;
  margin: auto;
  margin-top: 100px;
}

p {
  font-size: 15px;
  font-weight: 300;
  width: 175px;
  height: 60px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 100px;
}

#pics {
  position: absolute;
  background-color: #091f2d;
  height: 500px;
  width: 500px;
  top: 0px;
  right: 0px;
}

#photo {
  position: absolute;
  height: 333px;
  width: 500px;
  right: 250px;
  top: 250px;
  margin-right: calc(-500px/2);
  margin-top: calc(-333px/2);

}
