body {
  background: #879397;
  background: linear-gradient(#879397, #f5dec0);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}


/*Navigation across site*/
nav {
  z-index: 10;
}

nav img {
  z-index: 10;
  position: fixed;
}
nav img:nth-child(1) {
  top: 50px;
  left: 30px;
}

nav img:nth-child(2) {
  height: 50px;
  width: 50px;
  top: 10px;
  right: 10px;
}

nav img:nth-child(3) {
  height: 50px;
  width: 50px;
  bottom: 10px;
  left:10px;
}

#tri1 {
  z-index: 9;
  background: linear-gradient(to left, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, transparent);
  position: fixed;
  top: -800px;
  right: -700px;
  width: 800px;
	height: 1000px;
  transition: 1s;
  transform: rotate(-45deg);
}

#tri2 {
  z-index: 9;
  background: linear-gradient(to right, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, #000D13, transparent);
  position: fixed;
  bottom: -800px;
  left: -700px;
  width: 800px;
	height: 1000px;
  transition: 1s;
  transform: rotate(-45deg);
}

nav div a {
  position: absolute;
  z-index: 10;
  width: 200px;
  color: #f5dec0;
  font-size: 25px;
  text-decoration: none;
  opacity: .75;
  transform: rotate(45deg);
}

nav div a:hover {
  opacity: 1;
}

#dp {
  bottom: 500px;
  left: 75px;
}

#hp {
  bottom: 440px;
  left: 75px;
}

#bh {
  text-align: right;
  right: 80px;
  top: 435px;
}

#pg {
  text-align: right;
  right: 95px;
  top: 483px;
}

/*Navigation through page*/
main section {
  z-index: 0;
  position: fixed;
  top: 20%;
  left: 0%;
  width: 220px;
  height: 500px;
  color: #000D13;
}

main section img {
  z-index: 0;
  position: absolute;
  right: -5px;
}

main section aside {
  z-index: 0;
  position: absolute;
  color:  #f5dec0;
  height: 10px;
  font-size: 12px;
  margin-top: -6px;
  right: 55px;
  opacity: .75;
}

main section aside:hover {
  opacity: 1;
  cursor: pointer;
}

#line {
  position: absolute;
  right: 3px;
  top: 20px;
}

.tick01 {
  top: 410px;
  color:  #000D13;
}
.tick02 {
  top: 390px;
  color:  #000D13;
}
.tick1 {
  top: 370px;
  color:  #000D13;
}
.tick11 {
  top: 350px;
  color:  #000D13;
}
.tick12 {
  top: 330px;
  color:  #000D13;
}
.tick13 {
  top: 310px;
}
.tick2 {
  top: 290px;
}
.tick21 {
  top: 270px;
}
.tick22 {
  top: 250px;
}
.tick23 {
  top: 230px;
}
.tick24 {
  top: 210px;
}
.tick3 {
  top: 190px;
}
.tick31 {
  top: 170px;
}
.tick32 {
  top: 150px;
}
.tick33 {
  top: 130px;
}
.tick4 {
  top: 110px;
}
.tick41 {
  top: 90px;
}
.tick42 {
  top: 70px;
}

/*
.tick43 {
  top: 230px;
}
.tick44 {
  top: 220px;
}
.tick5 {
    top: 210px;
}
.tick51 {
  top: 200px;
}
.tick52 {
  top: 190px;
}
.tick53 {
  top: 180px;
}
.tick6 {
  top: 170px;
}
.tick61 {
  top: 160px;
}
.tick62 {
  top: 150px;
}
.tick63 {
  top: 140px;
}
.tick7 {
  top: 130px;
}
.tick71 {
  top: 120px;
}
.tick72 {
  top: 110px;
}
.tick73 {
  top: 100px;
}
.tick8 {
  top: 90px;
}
.tick81 {
  top: 80px;
}
.tick82 {
  top: 70px;
}
*/

h2 {
  z-index: 0;
  text-align: center;
  margin-right: 15px;
  margin-top: 25px;
  color: #000D13;
  font-size: 17px;
}

/* Article Posts */

main {
  color: #1E363D;
}

main article {
  margin-top: 90px;
  margin-left: 320px;
  margin-bottom: 100px;
}

main h1 {
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 40px;
}

main p {
  font-size: 20px;
  width: 85%;
}

#pic {
  z-index: -3;
  position: fixed;
  top: 0px;
  left: 0px;
}

main div {
  z-index: -2;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 775px;
  width: 215px;
  background-color: #f5dec0;
  opacity: .5;
}

/*Hawaii Removable Header*/
header {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  color: #f5dec0;
  opacity: 1;
  transition: 2s;
}

header img {
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

header div {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #879397;
  opacity: .8;
}

header article {
  z-index: 3;
  position: absolute;
  top: 7%;
  left: 320px;
}

header h1 {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 60px;
}

header p {
  font-size: 23px;
  width: 85%;
}

header aside {
  position: fixed;
  bottom: 10px;
  right: 47%;
  color: #000D13;
  font-size: 15px;
  opacity: 1;
  cursor: pointer;
}
