body {
  background: linear-gradient(#ffece2, #ffffef);
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 25px;
}


/*Navigation across site*/
nav {
  z-index: 10;
}

nav img {
  z-index: 10;
  position: fixed;
}

nav img:nth-child(1) {
  top: 50px;
  left: 30px;
}

nav img:nth-child(2) {
  z-index: 8;
  height: 30px;
  width: 40px;
  top: 15px;
  right: 15px;
}

#tri1 {
  z-index: 9;
  background: #091f2d;
  border-radius: 30px;
  position: fixed;
  top: -40px;
  right: -600px;
  width: 540px;
	height: 100px;
  transition: 1s;
}

menu {
  z-index: 10;
  text-align: left;
  position: absolute;
  bottom: -5px;
  left: 10px;
}

nav div a{
  color: #ffece2;
  font-size: 15px;
  text-decoration: none;
  opacity: .85;
  margin-left: 10px;
  margin-right: 10px;
}

nav div a:hover {
  opacity: 1;
}

/*Navigation through page*/
main section {
  z-index: 0;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: 220px;
}

main section img {
  z-index: 0;
  position: absolute;
  right: -5px;
}

main section aside {
  z-index: 0;
  position: absolute;
  height: 10px;
  color: white;
  font-size: 15px;
  margin-top: -7px;
  right: 55px;
}

main section aside:hover {
  cursor: pointer;
}

#line {
  position: absolute;
  right: 3px;
  top: 0px;
  height: 100%;
}

.tick01 {
  bottom: calc(15% + (85% - 200px)*0/22);
}
.tick02 {
  bottom: calc(15% + (85% - 200px)*1/22);
}
.tick1 {
  bottom: calc(15% + (85% - 200px)*2/22);
}
.tick11 {
  bottom: calc(15% + (85% - 200px)*3/22);
}
.tick12 {
  bottom: calc(15% + (85% - 200px)*4/22);
}
.tick13 {
  bottom: calc(15% + (85% - 200px)*5/22);
}
.tick2 {
  bottom: calc(15% + (85% - 200px)*6/22);
}
.tick21 {
  bottom: calc(15% + (85% - 200px)*7/22);
}
.tick22 {
  bottom: calc(15% + (85% - 200px)*8/22);
}
.tick23 {
  bottom: calc(15% + (85% - 200px)*9/22);
}
.tick24 {
  bottom: calc(15% + (85% - 200px)*10/22);
}
.tick3 {
  bottom: calc(15% + (85% - 200px)*11/22);
}
.tick31 {
  bottom: calc(15% + (85% - 200px)*12/22);
}
.tick32 {
  bottom: calc(15% + (85% - 200px)*13/22);
}
.tick33 {
  bottom: calc(15% + (85% - 200px)*14/22);
}
.tick4 {
  bottom: calc(15% + (85% - 200px)*15/22);
}
.tick41 {
  bottom: calc(15% + (85% - 200px)*16/22);
}
.tick42 {
  bottom: calc(15% + (85% - 200px)*17/22);
}
.tick43 {
  bottom: calc(15% + (85% - 200px)*18/22);
}
.tick44 {
  bottom: calc(15% + (85% - 200px)*19/22);
}
.tick5 {
  bottom: calc(15% + (85% - 200px)*20/22);
}
.tick51 {
  bottom: calc(15% + (85% - 200px)*21/22);
}
.tick52 {
  bottom: calc(15% + (85% - 200px)*22/22);
}
/*
.tick53 {
  top: 180px;
}
.tick6 {
  top: 170px;
}
.tick61 {
  top: 160px;
}
.tick62 {
  top: 150px;
}
.tick63 {
  top: 140px;
}
.tick7 {
  top: 130px;
}
.tick71 {
  top: 120px;
}
.tick72 {
  top: 110px;
}
.tick73 {
  top: 100px;
}
.tick8 {
  top: 90px;
}
.tick81 {
  top: 80px;
}
.tick82 {
  top: 70px;
}
*/

h2 {
  z-index: 0;
  text-align: center;
  margin-right: 15px;
  margin-top: 140px;
  color: #ffece2;
  font-size: 17px;
}

#print {
  position: fixed;
  bottom: 30px;
  left: 50px;
}

/* Article Posts */
main article {
  margin-top: 90px;
  margin-left: 370px;
  margin-bottom: 100px;
}

main h1 {
  color: #203457;
  font-size: 45px;
  font-weight: 400;
  margin-bottom: 40px;
}

main p {
  color: #203457;
  font-size: 20px;
  width: 85%;
}

#pic {
  z-index: -3;
  position: fixed;
  top: 0px;
  left: 0px;
}

main div {
  z-index: -2;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 775px;
  width: 215px;
  background-color: #091f2d;
  opacity: .6;
}

/*Hawaii Removable Header*/
header {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  color: #ffece2;
  opacity: 1;
  transition: 2s;
}

header img {
  background-image: url(../images/backblog.jpg);
  background-size: cover;
  z-index: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

header div {
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #091f2d;
  opacity: .7;
}

header article {
  z-index: 3;
  position: absolute;
  top: 7%;
  left: 300px;
}

header h1 {
  font-size: 55px;
  font-weight: 400;
  margin-bottom: 60px;
}

header p {
  font-size: 23px;
  width: 85%;
}

#hit {
  background: linear-gradient(#ffece2, #ffffef);
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  position: fixed;
  bottom: 20px;
  right: 43%;
  color: #000D13;
  font-size: 15px;
  opacity: 1;
  cursor: pointer;
}

@media only print {
  nav, header, #pic, main div, main section {
    opacity: 0;
  }

  main article {
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 30px;
  }

}



/*
@media only screen and (max-width: 800px) {

  nav img:nth-child(1) {
    top: 100px;
    left: 60px;
    height: 150px;
    width: 305px;
  }

  nav img:nth-child(2) {
    height: 75px;
    width: 100px;
    top: 125px;
    right: 125px;
  }


  header article {
    top: 450px;
    left: 125px;
    width: 90%;
  }

  header h1 {
    font-size: 45px;
    margin-bottom: 100px;
  }

  header p {
    font-size: 30px;
    line-height: 45px;
  }

  main section img, main section aside{
    opacity: 0;
  }

  main img {
    z-index: 0;
    position: fixed;
    right: 0px;
    left: 0px;
    height: 300px;
    width: 100%;
  }

  main article {
    margin-top: 450px;
    margin-left: 125px;
    margin-bottom: 100px;
  }

  main h1 {
    font-size: 45px;
    margin-bottom: 100px;
  }

  main p {
    font-size: 30px;
    line-height: 45px;
  }

  #hit {
    background: linear-gradient(#ffece2, #ffffef);
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    position: fixed;
    bottom: 100px;
    right: 40%;
    color: #000D13;
    font-size: 25px;
  }

*/
}
